[Unit]
Description=Linux user management agent, used for communicating with the GitWarden registry
Documentation=https://gitwarden.com/docs
After=network-online.target

[Service]
ExecStart=/usr/sbin/gitwarden-agent run
Restart=on-failure

[Install]
WantedBy=multi-user.target
